<link rel="stylesheet" href="/style.css">
<div class="main">
    <form action="/5Days" method="post" class="form">
    <label for="cityInput">City Name : </label>
    <input type="text" name="cityName" id = "cityInput">

    <h3 id="temp"></h3>
    <button type="submit">Go</button>
</div>
