<%- include("partials/header") -%>
<div class="common">
    <form action="/5Days" method="post" class="form">
    <label for="cityInput" class="city">City Name : </label>
    <input type="text" name="cityName" id = "cityInput"class="input">

    <h3 id="temp"></h3>
    <button type="submit" class="btn">Go</button>
</div>
<%- include("partials/footer") -%>
