<link rel="stylesheet" href="/style.css">
<div class="main">

    <form action="/" method="post" class="form">
        <label for="cityInput">City Name : </label>
        <input type="text" name="cityName" id = "cityInput">
        <button type="submit">Go</button>
        <button><a href="/5Days">click here</a></button>
</div>