<%- include("partials/header") -%>
<!-- <link rel="stylesheet" href="/style.css"> -->
<div class="common">

    <form action="/" method="post" class="form">
        <label for="cityInput"class="city">City Name : </label>
        <input type="text" name="cityName" id = "cityInput" class="input">
        <button type="submit" class="submit">Go</button>
        <button><a href="/5Days">click here</a></button>
</div>

<%- include("partials/footer") -%>