@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&family=Caveat:wght@500;600&family=Dancing+Script:wght@500&family=M+PLUS+1p:wght@100&family=Merriweather+Sans:wght@800&family=Merriweather:wght@300;400&family=Montserrat:wght@700&family=Open+Sans&family=Patua+One&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300&family=Roboto&family=Roboto+Slab:wght@300&family=Sacramento&display=swap');



body {
    font-family: 'Belanosima', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: ; */
    /* width: 100%;
    height: auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    /* height: 100%; 
    background-size: cover;
    image-resolution: from-image; */
    overflow-x: hidden;
    overflow-y: scroll;
background: transparent;
}

.whole {
    background-image: url("/images/final_bg.jpg");
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkM0QEsjekUFh4bR1PsDf1bieJHvLsJrsmLZ3FyYXwHpBsglgbhMYZaCvvHR69xJkZTys&usqp=CAU"); */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: transparent; */
    
    background-position:50% 50%;
    /* background-attachment: fixed; */
}

/* @media(max-width:60rem){
    /* .whole{
        height: 1000px;
    } 
} */

/* navbar section */
.navbar {
    color: aliceblue;
}


.main {
    display: flex;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 30px;
    gap: 20px;
}

span.navbar-brand {
    /* color: aliceblue; */
    font-size: 30px;
}

.icon {
    width: 3rem;
    height: 2rem;
    color: aliceblue;
}

.mobilenav {
    display: none;
    background: transparent;
    cursor: pointer;
}

.icon[name="close-circle-outline"] {
    display: none;
}

ion-icon.d-inline-block.align-top.md.hydrated {
    height: 35px;
    width: 35px;
    /* color: aliceblue; */
    margin-right: 10px;
}

a#navbarDropdown.nav-link.dropdown-toggle {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

div.dropdown-menu.show {
    left: inherit;
    right: 0;
}

.text {
    color: aliceblue;
    
}


.text:hover {
    
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width:60rem) {
    .mobilenav {
        display: block;
        z-index: 10;
    }
    span.navbar-brand{
        font-size: 20px;
    }
    

    .main {
        font-size: 18px;
        
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        margin-top: 0;
        padding-top: 0;
        /* padding-left: 0; */
        gap: 1rem;
        margin-top: 200px;
        position: absolute;
        right: 0;
        /* text-align: center; */

        width: 30%;
        height: auto;
        box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
        position: fixed;
        margin-top: 80px;
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 20px;
        top: 0;
        right: 0;
        /* left: 230px; */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translate(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .active .main {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobilenav .icon[name="close-circle-outline"] {
        display: block;
    }

    .active .mobilenav .icon[name="grid-outline"] {
        display: none;
    }
}

/* .img{
    color: aliceblue;
} */
/* footer section */


/*main*/
.container{
    width: fit-content;
    display: block;
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.common{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin: -25px 0 0 -25px; */
    /* margin-top: 30%; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    
}
.city{
    display: block;
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
}
.input{
    display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    border: 2px solid aliceblue;
    margin-bottom: 20px;
}
.msg{
    color: aliceblue;
    letter-spacing: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;

}
/* .submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
} */
.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    border-radius: 50px;

}
.btn:hover{
    background-color: black;
}
.btn a{
    color: aliceblue;
    letter-spacing: 2px;
}
.btn a:hover{
    text-decoration: none;
}

.clock{
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;

}


.footer{
    color: aliceblue;
    font-size: 25px;
    letter-spacing: 2px;
    

}
footer {
    position:absolute;
    margin-bottom: 0px;
    text-align: center;
    /* position: fixed; */

    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background-color: rgba(0,0,0,0.5); */
}
input[type = "text"]{
    color: black;
    
    text-align: center;
}
@media (max-width : 60rem){
    .btn{
        font-size: 15px;
    }
    .city{
        font-size: 20px;
    }
    .msg{
        font-size: 15px;
    }
    .clock{
        font-size: 20px;

    }
    .footer{
        font-size: 20px;
    }

}
.current{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: aliceblue;
    border-radius: 50px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width:60rem){
    .current{
        margin-top: 20px;
        padding-left: 90px;
        padding-right: 90px;
        margin-bottom: 20px;
        /* padding-bottom: 40px; */
    }
}
.temp{
   display: inline-flex;

}
.temp h3{
    margin-right: 20px;
    margin-left: 20px;
   
}
.rest{
    /* display: inline; */
    margin-right: 40px;
}
.item
{
    list-style: none;
    gap: 10px;
    display: inline-grid
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li{
    display: inline-block;
    
}
@media (max-width:60rem){
    .current{
        padding-right: 50px;
        padding-left: 50px;

    }
    .fa-solid{
        display: none;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        
        line-height: 1.4;
    }
}
.days5{
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    color: aliceblue;
    margin-right: 20px;
    border-radius: 50px;
    padding: 20px;
}
.ul{
    text-align: center;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.para{
    justify-content: center;
}